/* begin Page */



#sun-page-background-glare
{
   display: none;
}

.cleared 
{
   width:1px;
}

/* Start Box */
.sun-box, .sun-box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.sun-bar{
   zoom:1;
}
/* End Bar */

/* end Page */

/* begin Box, Sheet */
.sun-sheet {
   background:#F9FAFB;
}
#sun-page-background-top-texture, #sun-page-background-middle-texture
{
   width: expression(document.body.clientWidth>900?"100%":"900px");
}

/* end Box, Sheet */

/* begin Header */
.sun-header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 125px;
   background-image: url('../images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin HeaderObject */
div.sun-headerobject
{
   font-size: 1px;
   background: none;
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/header-object.png',sizingMethod='scale')");
}
/* end HeaderObject */

/* begin Menu */
.sun-hmenu li.sun-hmenuhover{
   z-index: 10000;
}
.sun-hmenu .sun-hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.sun-hmenu .sun-hmenuhoverUL .sun-hmenuhoverUL{
   top: 0;
   left: 100%;
}
.sun-hmenu ul li {
   float: left !important;
   width: 100%;
}
.sun-nav
{
   zoom: 1;
   height: 44px;
   background:#D6DEE6;
}

/* end Menu */

/* begin MenuItem */
.sun-hmenu a 
{
   display:inline-block;
   color: #ECF0F4;
   background-color:#4F2060;
   padding: 0 20px;
   line-height: 30px;
   text-align: center;
}

.sun-hmenu a.active 
{
   color: #A93331;
   background-color:#F9FAFB;
}

.sun-hmenu a:hover, .sun-hmenuhoverA,  .sun-hmenuhover a 
{
   color: #FFFFFF;
   background-color:#A966A4;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.sun-hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'4px');
}
ul.sun-hmenu li li{
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.sun-hmenu ul a 
{
   color: #FFFFFF !important;
   float: left;
   text-indent: 22px;
}

.sun-hmenu ul a:hover, .sun-hmenu ul .sun-hmenuhover .sun-hmenuhoverA 
{
   color: #FFFFFF !important;
   background-position: left bottom;
}

/* end MenuSubItem */

/* begin Layout */
.sun-content-layout, .sun-content-layout-row, .sun-layout-cell 
{
   display: block;
   zoom: 1;
}
.sun-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Button */
.sun-button-wrapper 
{
   zoom: 1;
}

.sun-button-wrapper .sun-button-l, .sun-button-wrapper .sun-button-r 
{
   display: none;
}

.sun-button-wrapper .sun-button
{
   float: left;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.sun-vmenublock {
   background:#F9FAFB;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.sun-vmenublockheader {
   background:#F9FAFB;
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.sun-vmenublockcontent {
   background:#F9FAFB;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.sun-vmenu, ul.sun-vmenu ul, ul.sun-vmenu li, ul.sun-vmenu a
{
   position:relative;
   zoom: 1;
}

ul.sun-vmenu li {
   z-index:0;
   margin-top:expression(this.previousSibling==null?'0':'4px');
}
ul.sun-vmenu ul{
   margin-top:4px;
   padding-bottom: 0;
}

ul.sun-vmenu a 
{
   color: #7691AD;
   background-color:#F9FAFB;
   padding: 0 11px 0 11px;
   height: 30px;
   line-height: 30px;
}

.sun-vmenu a.active 
{
   color: #7D2B03;
   background-color:#FC9764;
}

ul.sun-vmenu a:hover
{
   color: #22485D;
   background-color:#FC8D55;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.sun-vmenu ul a
{
   color: #41576C !important;
}

ul.sun-vmenu li li
{
   padding-top:expression(this.previousSibling==null?'0':'0');
   margin-top:expression(this.previousSibling==null?'0':'0');
}
 
ul.sun-vmenu ul ul {
   margin-top:0;
}

ul.sun-vmenu ul a.active
{
   color: #A53903 !important;
}

ul.sun-vmenu ul a:hover {
   color: #387599 !important;
}	

/* end VMenuSubItem */

/* begin Box, Block */
.sun-block {
   background:#F9FAFB;
}
/* end Box, Block */

/* begin BlockHeader */
.sun-blockheader {
   background:#F9FAFB;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.sun-blockcontent {
   background:#F9FAFB;
}
.sun-blockcontent-body ul li
{
   height: 1%;
   background: none;
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.sun-post {
   background:#F9FAFB;
}
/* end Box, Post */

/* begin PostIcons, PostHeaderIcons */
.sun-postheadericons span
{
   zoom: 1;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.sun-post ul li, .sun-post ol ul li
{
   height: 1%;
   background: none;
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/postbullets.png',sizingMethod='crop')");
   padding-left: 13px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.sun-post ul ol li
{
   background: none;
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostIcons, PostFooterIcons */
.sun-postfootericons span
{
   zoom: 1;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.sun-footer-body{
   padding-right: 0;
   zoom:1;
}
.sun-footer{
   zoom:1;
   background:#4F2060;
}

.sun-footer-text
{
   height: 50px;
}

/* end Footer */

/* begin LayoutCell, content */
.sun-sidebar1 {
   width: auto;
}
/* end LayoutCell, content */

