/* begin Page */
#sun-page-background-glare
{
   zoom: 1;
}

/* Start Box */
.sun-box, .sun-box-body {
   zoom:1;
}
.sun-box-tl, .sun-box-tr, .sun-box-cl, .sun-box-cr, .sun-box-bl, .sun-box-br {
   position:absolute;
   display:block;
   top:0;
   bottom:0;
   background-repeat: no-repeat;
}
.sun-box-tl,.sun-box-bl,.sun-box-cl {
   left:0;
}
.sun-box-tr,.sun-box-br,.sun-box-cr {
   right:0;
}
.sun-box-cl, .sun-box-cr {
   background-repeat:repeat-y;
}
.sun-box-tl {
   background-position: top left;
   z-index:-3;
}
.sun-box-tr {
   background-position: top right;
   z-index:-3;
}
.sun-box-cl {
   background-position: center left;
   z-index:-3;
}
.sun-box-cr {
   background-position: center right;
   z-index:-3;
}
.sun-box-bl {
   background-position: bottom left;
   z-index:-3;
}
.sun-box-br {
   background-position: bottom right;
   z-index:-3;
}

.sun-box .sun-box-tl,.sun-box .sun-box-tr,.sun-box .sun-box-cl,.sun-box .sun-box-cr,.sun-box .sun-box-bl,.sun-box .sun-box-br{
   z-index:-2;
}
.sun-box .sun-box .sun-box-tl,.sun-box .sun-box .sun-box-tr,.sun-box .sun-box .sun-box-cl,.sun-box .sun-box .sun-box-cr,.sun-box .sun-box .sun-box-bl,.sun-box .sun-box .sun-box-br{
   z-index:-1;
}
/* End Box */

/* Start Bar */
.sun-bar{
   zoom:1;
}
.sun-bar-l, .sun-bar-r {
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat-y;
}
.sun-bar-l {
   left:0;
   background-position: top left;
}
.sun-bar-r {
   right:0;
   background-position: top right;
}
/* End Bar */

/* end Page */

/* begin Box, Sheet */
.sun-sheet>.sun-box-tl, .sun-sheet>.sun-box-tr{
   background-image: url('../images/sheet_t.png');
}
.sun-sheet>.sun-box-bl, .sun-sheet>.sun-box-br {
   background-image: url('../images/sheet_b.png');
}
.sun-sheet>.sun-box-tl, .sun-sheet>.sun-box-bl, .sun-sheet>.sun-box-cl{
   right:60px;
}
.sun-sheet>.sun-box-tr, .sun-sheet>.sun-box-br, .sun-sheet>.sun-box-cr{
   width: 60px;
}
.sun-sheet>.sun-box-cl, .sun-sheet>.sun-box-cr{
   top:60px;
   bottom:60px;
   background-image:url('../images/sheet.png');
}
/* end Box, Sheet */

/* begin Header */
.sun-header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 125px;
   background-image: url('../images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin Menu */
.sun-nav>.sun-bar-l, .sun-nav>.sun-bar-r{
   background-image: url('../images/nav.png');
}
.sun-nav>.sun-bar-l{
   right: 29px;
}
.sun-nav>.sun-bar-r{
   width: 29px;
}

/* end Menu */

/* begin MenuItem */
ul.sun-hmenu>li>a>span.sun-hmenu-l, ul.sun-hmenu>li>a>span.sun-hmenu-r
{
   position: absolute;
   display: block;
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('../images/menuitem.png');
}

ul.sun-hmenu>li>a>span.sun-hmenu-l
{
   left: 0;
   right: 3px;
   background-position: top left;
}

ul.sun-hmenu>li>a>span.sun-hmenu-r
{
   width: 3px;
   right: 0;
   background-position: top right;
}

ul.sun-hmenu>li>a.active>span.sun-hmenu-l {
   background-position: bottom left;
} 
ul.sun-hmenu>li>a.active>span.sun-hmenu-r {
   background-position: bottom right;
}
ul.sun-hmenu>li>a.active {
   color: #A93331;
}

ul.sun-hmenu>li>a:hover>span.sun-hmenu-l, ul.sun-hmenu>li:hover>a>span.sun-hmenu-l {
   background-position: center left;
}
ul.sun-hmenu>li>a:hover>span.sun-hmenu-r, ul.sun-hmenu>li:hover>a>span.sun-hmenu-r {
   background-position: center right;
}
ul.sun-hmenu>li>a:hover, ul.sun-hmenu>li:hover>a{
   color: #FFFFFF;
}

/* end MenuItem */

/* begin Layout */
.sun-content-layout, .sun-content-layout-row, .sun-layout-cell 
{
   display: block;
   zoom: 1;
}
.sun-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin VMenuItem */
ul.sun-vmenu, ul.sun-vmenu ul, ul.sun-vmenu li, ul.sun-vmenu a
{
   zoom: 1;
}

ul.sun-vmenu>li>a>span.sun-vmenu-l, ul.sun-vmenu>li>a>span.sun-vmenu-r
{
   position: absolute;
   display: block;
   z-index:-1;
   background-image: url('../images/vmenuitem.png');
   top:0;
   height:30px;
}

ul.sun-vmenu>li>a>span.sun-vmenu-l{
   left: 0;
   right: 4px;
   background-position: top left;
}
ul.sun-vmenu>li>a>span.sun-vmenu-r{
   width: 4px;
   right: 0;
   background-position: top right;
}
ul.sun-vmenu>li>a.active>span.sun-vmenu-l {
   background-position: bottom left;
}
ul.sun-vmenu>li>a.active>span.sun-vmenu-r {
   background-position: bottom right;
}
ul.sun-vmenu>li>a:hover>span.sun-vmenu-l  {
   background-position: center left;
}
ul.sun-vmenu>li>a:hover>span.sun-vmenu-r {
   background-position: center right;
}

ul.sun-vmenu .sun-vmenu-separator, ul.sun-vmenu .sun-vmenu-separator-bg
{
   display: block;
   position:absolute;
   left:0;
   right:0;
}

/* end VMenuItem */

/* begin PostIcons, PostHeaderIcons */
.sun-postheadericons span
{
   zoom: 1;
}/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.sun-postcontent
{
   height: 1%;
}
/* end PostContent */

/* begin PostIcons, PostFooterIcons */
.sun-postfootericons span
{
   zoom: 1;
}/* end PostIcons, PostFooterIcons */

/* begin Footer */
.sun-footer-body {
   padding-right: 0;
   zoom:1;
}
.sun-footer{
   zoom:1;
}
.sun-footer-t
{
   position: absolute;
   z-index:-1;
   left:0;
   right:0;
   top:0;
   bottom:50px;
   background-image: url('../images/footer.png');
   background-position:bottom left;
}

.sun-footer-l, .sun-footer-r 
{
   position: absolute;
   content:' ';
   z-index:-1;
   bottom:0;
   height:50px;
   background-image: url('../images/footer_b.png');
}

.sun-footer-l
{
   left:0;
   right:29px;
   background-position: top left;
}

.sun-footer-r
{
   right:0;
   width:29px;
   background-position: top right;
}
/* end Footer */

/* begin LayoutCell, content */
.sun-sidebar1 
{
   width: auto;
   float:none;
}
/* end LayoutCell, content */

